ul{
    font-family:fantasy;
    font-size: 25px;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    float: right;
}

li{
  float:right;
}
li a{
    float: left;
    display: block;
    padding: 0px 8px;
    color:#000000;
    text-decoration: none;
}
body{
    background-color: #000000;
}
#div1{background-color: #FFFFFF;
    height: 70px;
}
body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;background-size: 100% 100%;
    margin: 0;
    padding: 0;
}
#login{
        font-size: 15pt;
        text-align: center;
        font-family:fantasy;
        background-color:white;
        color: #000000;  
        border: 3px dotted gold; 
        border-radius: 20px;
        padding: 3px;       
}
#signup{
    font-size: 15pt;
    text-align: center;
    font-family:fantasy;
    background-color:#5F9EA0;
    color: #000000;  
    border: 3px dotted gold; 
    border-radius: 20px;
    padding: 3px;       
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
  background: #125688;
  color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .text1{
    text-decoration: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-style: unset;
    padding-left: 10px;
    padding-top: 5px;
  }
  .div2{background-color: #36454F;
    width: 1535px;
    height: 83px;
    margin-bottom: 0px;
    position: absolute;
    margin-top: 107px;
  }
  .div3{background-color: #FFC300;
    width: 1535px;
    height: 90px;
    position:relative;
    margin-top: 20px;
    z-index: -1;
  }
  .button {
    background-color:goldenrod;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .sid{
    background-color: white;
    position: absolute; top: 200; right: 30;
    height: 350px;
    width: 300px;
    border-radius: 0px 30px 0px 30px;
  }
  .center{
    background-color: #000000;
    border: goldenrod double 5px;
    border-radius: 20px;
    height: 375px;
    width: 550px;
    color: white;
    position: absolute;
    margin-left: 550px; 
    padding: 10px 10px 10px 10px;
    font-size: 18px; 
  }
.social{
  position: static;
  background-color: tomato;
  width: 370px;
  height: 90px;
  margin-top: 200px;
  margin-left: 5px;
  font-size: larger;
  font-style: italic;
  border-radius: 10px;
  padding: 10px 10px;
  border: dotted dodgerblue;
}